
.HyperMD-header.HyperMD-header-2.cm-line { padding: 0 0 4px!important;}
.HyperMD-header.HyperMD-header-3.cm-line { padding: 0 0 4px!important;}
.HyperMD-header.HyperMD-header-4.cm-line { padding: 0 0 2px!important;}
.HyperMD-header.HyperMD-header-1.cm-line { padding: 0 0 2px!important;}
.HyperMD-header.HyperMD-header-5.cm-line { padding: 0 0 2px!important;}
.HyperMD-header.HyperMD-header-6.cm-line { padding: 0 0 2px!important;}
