:root {
  --base-font-size: 100%;
  --scale-ratio: 1.15;
}

.HyperMD-header[class*="HyperMD-header-"].cm-line {
  padding: 8px 0;
  line-height: 1.6;
}
/*
.HyperMD-header.HyperMD-header-1.cm-line { font-size: calc(var(--base-font-size) * pow(var(--scale-ratio), 5)); }
.HyperMD-header.HyperMD-header-2.cm-line { font-size: calc(var(--base-font-size) * pow(var(--scale-ratio), 4)); }
.HyperMD-header.HyperMD-header-3.cm-line { font-size: calc(var(--base-font-size) * pow(var(--scale-ratio), 3)); }
.HyperMD-header.HyperMD-header-4.cm-line { font-size: calc(var(--base-font-size) * pow(var(--scale-ratio), 2)); }
.HyperMD-header.HyperMD-header-5.cm-line { font-size: calc(var(--base-font-size) * pow(var(--scale-ratio), 1)); }
.HyperMD-header.HyperMD-header-6.cm-line { font-size: calc(var(--base-font-size) * pow(var(--scale-ratio), 0)); }
*/

.HyperMD-header.HyperMD-header-1.cm-line { font-size: 170%; }
.HyperMD-header.HyperMD-header-2.cm-line { font-size: 140%; }
.HyperMD-header.HyperMD-header-3.cm-line { font-size: 125%; }
.HyperMD-header.HyperMD-header-4.cm-line { font-size: 110%; }
.HyperMD-header.HyperMD-header-5.cm-line { font-size: 100%; }
.HyperMD-header.HyperMD-header-6.cm-line { font-size: 100%; }
